.step-pane {
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
       -o-transition: opacity .2s ease;
          transition: opacity .2s ease;
}
.step-pane.active {
  position: relative;
  visibility: visible;
  opacity: 1;
}
.step-pane.activing {
  visibility: visible;
}
.step-content {
  position: relative;
  padding: 0;
  -webkit-transition: height .2s ease;
       -o-transition: height .2s ease;
          transition: height .2s ease;
}
.step-pane {
  padding: 10px;
}
.step-content {
  border: 1px solid #aaa;
}
