
@transition-duration: .2s;

.step-pane  {
  position: absolute;
  opacity: 0;

  transition: opacity @transition-duration ease;

  &.active {
    position: relative;
    opacity: 1;
  }

  &.activing {
    top: 0;
  }
}

.step-content {
  position: relative;
  padding: 0;
  transition: height @transition-duration ease;
}

// styles
.step-pane {
  padding: 10px;
}
.step-content {
  border: 1px solid #aaa;
}